@import "tailwindcss";

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

/* font styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: var(--color-heading);
}

/* colors */
:root {
  --color-background: #fdf6eb;
  --color-primary: #fdadbe;
  --color-secondary: #ffe6ae;
  --color-accent1: #a8d7fc;
  --color-accent2: #b5b8fe;
  --color-heading: #323231;
  --color-text: #70706e;
  --color-border: #70706e;
}
