@import "tailwindcss";

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* line-height: 1.6; */
}

/* font styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: var(--color-heading);
  /* font-size: 2.5rem; */
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
}

/* colors */
:root {
  --color-background: #ffffff;
  /* --color-primary: #fdadbe;
  --color-secondary: #ffe6ae;
  --color-accent1: #a8d7fc;
  --color-accent2: #b5b8fe; */
  --color-heading: #323231;
  --color-text: #323231;
  --color-border: #323231;
}

/* custom box shadow */
.solid-shadow {
  box-shadow: 8px 8px 0px var(--color-border);
}
